

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #448aff;
    background-image: url('clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}


.container {
    width: 418px;
    margin: 50px auto;
    padding: 18px;
}

.inputs {
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}

.inputs input[type="text"] {
    height: 3.5rem;
    width: 20rem;
    background-color: #212121;
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right: 4px;
    padding: 10px;
}

.inputs input[type="submit"] {
    height: 3.2rem;
    width: 6.5rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    border: none;
    margin-top: 20px;
    border-radius: 2px;

}

.display {
    text-align: center;
    width: 400px;
    color: #16a864;
}

.wrapper {
    margin: 0 5rem;
    background: white;
    height: 45vh;
    margin: 50px auto;
}
.wrapper h2 {
    padding: 5px 0;
    background: #05485b;
    color: white;
    font-family: sans-serif;
    text-align: center;

}
.wrapper p {
    margin: 20px 50px;
    margin-right: 28px;
    text-align: center;
    color: #04214c;
    font-size: 23px;
}
.wrapper p span {
    color: #90006e;
    font-size: 25px;

}
.wrapper h2 span {
    font-size: 26px;
    color: #9beefb;
}
